
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="assets/ico/favicon.png">

  <title>Blood Inventry system</title>

  <!-- Bootstrap core CSS -->
  <link href="dist/css/bootstrap.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/starter-template.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="dist/css/jquery.dataTables.css">
  <link rel="stylesheet"  href="dist/datepicker/css/datepicker.css">
<style>
.datepicker{z-index:1151;}
</style>
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
      <![endif]-->
    </head>

    <body>

      <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Blood Bank</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a data-toggle="modal" href="/logout">Log Out</a></li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img width="30px" height="30px" src="images/pro-pic" alt="Dinusha" ><b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a data-toggle="modal"  href="#profileSettingsModal">Settings</a></li>
                <li><a href="#">Sign out</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Something else here</a></li>

              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">

     <div class="container" id="about">
      <br/>
      <br/>
      <div class="alert alert-warning alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>Warning!</strong>  You are out of stoke in O-, 0 -<a href="#searchtabdiv" data-toggle="tab" class="alert-link"> Search other hospitals</a>

      </div>
      <div id = "home_alert_placeholder"></div>
  

      <div class="col-md-12">

       <ul class="nav nav-tabs" id="userHomeTabs">
          <% if(user.hid){ %>
        <li  class="active"><a  href="#bloodStocktabDev" data-toggle="tab">My Avaliblility</a></li>
        <li><a href="#searchtabdiv" data-toggle="tab">Search</a>  </li>
         <li><a href="#requestDev" data-toggle="tab">Requests</a>  </li>
        <% }else{ %>
        <li class="active"><a href="#searchtabdiv" data-toggle="tab">Search</a>  </li>
         <% } %>
         <% if(user.utype == 'a'){ %>
        <li><a href="#hospitaltabdiv" data-toggle="tab">Hospitals</a></li>
          <% } %>
      </ul>

      <div class="tab-content">
        <% if(user.hid){ %>
       <div class="tab-pane active" id="bloodStocktabDev">
        <br/>

         <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addBloodStockModal">New Stock</button>

        <table class="table table-hover table table-striped table-bordered" cellpadding="0" cellspacing="0" border="0" id="bloodStockTable">
          <thead>
            <tr>
              <th>Group</th>
              <th>Reserve Date</th>
              <th>Available Stock</th>
              <th>Least Exp Date</th>
              <th>Remark</th>
              <th>Options</th>
            </tr>
          </thead>
         
        </table>
      </div>

        <div class="tab-pane" id="requestDev">
        <br/>

        <table class="table table-hover table table-striped table-bordered" cellpadding="0" cellspacing="0" border="0" id="requestTable">
          <thead>
            <tr>
              <th>From</th>
              <th>Group</th>
              <th>Quentity</th>
        <!--       <th>Available Stock</th> -->
              <th>Comment</th>
              <th>Options</th>
            </tr>
          </thead>
         
        </table>
      </div>

       <div class="tab-pane" id="searchtabdiv">
      <% }else{ %>
      <!--Search tab Dev -->
      <div class="tab-pane active" id="searchtabdiv">
       <% } %>
             <div class="col-lg-4">
               <input type="text" class="form-control" id="bGroupSerchTxt" placeholder="Blood Group">
      
            </div>
            <div class="col-lg-4">
               <input type="text" class="form-control" id="neededQuantity" placeholder="Needed Quantity">
      
            </div>
        <br />
        <br />
        <br />
        <br />
        <!-- Search result div table-->
        <div>
          <table class="table table-hover table table-striped table-bordered" cellpadding="0" cellspacing="0" border="0" id="searchResultTable">
          <thead>
            <tr>
              <th>Group</th>
              <th>Hospital</th>
              <th>Available Stock</th>
              <th>Remark</th>
              <th>Least Exp Date</th>
              <th>Request</th>
            </tr>
          </thead>
          
        </table>

        </div>

      </div>

      <!--Hospital tab Dev -->

       <% if(user.utype == 'a'){ %>
      <div class="tab-pane" id="hospitaltabdiv">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#hospitalDetails">New Hospital</button>
        <table class="table table-hover table table-striped table-bordered" cellpadding="0" cellspacing="0" border="0" id="hospitalListTable">
          <thead>
            <tr>
              <th>Name</th>
              <th>Location</th>
              <th>Availablity</th>
              <th>Least Exp Date</th>
              <th>More</th>
              <th>(-)</th>
            </tr>
          </thead>
    
        </table>

      </div>
      <%}  %>
</div>
</div>

</div>



<!-- Blood stock request modal -->
<div class="modal fade" id="stockRequest" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Blood Request</h4>
              </div>

              <div >
                <form class="form-horizontal" role="form" id="stockRequestForm" >
                     <input type="text" class="hide" id="stockId" name="stockId"  />
                    
                  <div class="form-group">
                    <label for="bloodType" class="col-lg-3 control-label">Blood Type</label>
                    <div class="col-lg-8">
                         <input type="text" class="form-control" id="bloodType" name="bloodType"  readonly>
                      </div>
                  </div>
                   <div class="form-group">
                    <label for="reqHospital" class="col-lg-3 control-label">Hospital</label>
                    <div class="col-lg-8">
                        <input type="text" class="form-control" id="reqHospital" name="reqHospital"  readonly>
                   
                    </div>
                  </div>
                   <div class="form-group">
                    <label for="bloodAvailbity" class="col-lg-3 control-label">Availbility</label>
                    <div class="col-lg-8">
                        <input type="text" class="form-control" id="bloodAvailbity" name="bloodAvailbity"  readonly>
                     
                    </div>
                  </div>
                   <div class="form-group">
                    <label for="reqStock" class="col-lg-3 control-label">Request</label>
                    <div class="col-lg-8">
                        <input type="text" class="form-control" id="reqStock" name="reqStock"  placeholder="Request quentity">
                   
                    </div>
                  </div>
                <div class="form-group">
                  <label for="hdesc" class="col-lg-3 control-label">Comment</label>
                  <div class="col-lg-8">
                    <textarea class="form-control"  id="reqComment" name="reqComment"  rows="3" placeholder="Comment"></textarea>
                  </div>
                </div>




          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" onClick="addBloodRequest()">Request</button>
          </div>

            </form>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

<!-- Hosptial details modal -->
<div class="modal fade" id="hospitalDetails" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Hospital Details</h4>
              </div>



              <div >
                <form class="form-horizontal" role="form" id="hospitalMatnForm" >
                  <div class="form-group">
                    <label for="hname" class="col-lg-3 control-label">Name</label>
                    <div class="col-lg-8">
                      <input type="text" class="form-control" id="hname" name="hname" placeholder="Hospital Name">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="hprovince" class="col-lg-3 control-label">Province</label>
                    <div class="col-lg-8">
                     <select class="form-control" name="hprovince" id="hprovince">
                      <option value="Western">Western</option>
                      <option value="Southern">Southern</option>
                      <option value="Sabaragamuwa"> Sabaragamuwa</option>
                      <option value="Sabaragamuwa">Western</option>
                      <option value="North Western"> North Western</option>
                      <option value="Central">Central</option>
                      <option value="Uva">Uva</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label for="hdist" class="col-lg-3 control-label">District</label>
                  <div class="col-lg-8">
                    <select id="hdist" name="hdist" class="form-control">
                      <option value="Colombo">Colombo</option>
                      <option value="Gampaha">Gampaha</option>
                      <option value="Kalutara">Kalutara</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label for="hcity" class="col-lg-3 control-label">City</label>
                  <div class="col-lg-8">
                   <!--  <select class="form-control" id="hcity" name="hcity" placeholder="City">
                      <option>Mustard</option>
                      <option>Ketchup</option>
                      <option>Relish</option>
                    </select> -->
                    <input type="text" class="form-control" id="hcity" name="hcity" placeholder="City">
                  </div>
                </div>
                <div class="form-group">
                  <label for="hdesc" class="col-lg-3 control-label">Description</label>
                  <div class="col-lg-8">
                    <textarea class="form-control"  id="hdesc" name="hdesc"  rows="3" placeholder="Enter a short discription hospital"></textarea>
                  </div>
                </div>



               <!--  <div class="form-group">
                  <label for="inputLogType" class="col-lg-3 control-label">Image</label>
                  <div class="col-lg-8">
                    <div class="btn-group" >
                     <img src="images/pro-pic" alt="..." class="img-rounded">

                     <label class="col-lg-2 control-label"  for="exampleInputFile">Upload Image</label>
                     <div class="col-lg-8">
                      <input type="file" class="form-control"  id="exampleInputFile">

                      <p class="help-block">Example block-level help text here.</p>
                    </div>
                  </div>          
                </div>            
              </div> -->


          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" onClick="addHospital()">Save</button>
          </div>

            </form>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

<!-- Profile setting Modal -->
<div class="modal fade" id="profileSettingsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Profile settings</h4>
      </div>
      <div class="modal-body">

        <ul class="nav nav-tabs" id="profileSettingTabs">
          <li><a href="#general"  data-toggle="tab">General</a></li>
          <li><a href="#picture" data-toggle="tab">Picture</a></li>
          <li><a href="#network" data-toggle="tab">Network</a></li>
          <li><a href="#advance" data-toggle="tab">Advance</a></li>
        </ul>

      </div>


      <div class="tab-content">
        <!-- General Tab -->
        <div class="tab-pane active" id="general"><h2>Dinusha Nandika</h2>
          <form class="form-horizontal" role="form">
            <div class="form-group">
              <label for="userName" class="col-lg-3 control-label">User Name</label>
              <div class="col-lg-8">
                <input type="text" class="form-control" id="userName" placeholder="User Name">
              </div>
            </div>
            <div class="form-group">
              <label for="firstName" class="col-lg-3 control-label">First Name</label>
              <div class="col-lg-8">
                <input type="text" class="form-control" id="firstName" placeholder="First Name">
              </div>
            </div>
            <div class="form-group">
              <label for="lastName" class="col-lg-3 control-label">Last Name</label>
              <div class="col-lg-8">
                <input type="text" class="form-control" id="lastName" placeholder="Last Name">
              </div>
            </div>
            <div class="form-group">
              <label for="userEmail" class="col-lg-3 control-label">Email</label>
              <div class="col-lg-8">
                <input type="email" class="form-control" id="userEmail" placeholder="Email">
              </div>
            </div>
            <div class="form-group">
              <label for="birthDay" class="col-lg-3 control-label">Birth Day</label>
              <div class="col-lg-8">
                <input type="date" class="form-control" id="birthDay" placeholder="Birth Day">
              </div>
            </div>



            <div class="form-group">
              <label for="inputLogType" class="col-lg-3 control-label">Gender</label>
              <div class="col-lg-8">
                <div class="btn-group" >
                  <label class="radio">
                   <input type="radio" name="genderRb" id="genderM" value="M" >
                   Male
                 </label>
                 <label class="radio">
                   <input type="radio" name="genderRb" id="genderF" value="F" >
                   Female
                 </label>
               </div>          
             </div>            
           </div>

         </form>

       </div>
       <div class="tab-pane" id="picture">


        <form class="form-horizontal" role="form">

         <div class="form-group">
          <img src="images/pro-pic" alt="..." class="img-rounded">

          <label class="col-lg-2 control-label"  for="exampleInputFile">Upload Image</label>
          <div class="col-lg-8">
            <input type="file" class="form-control"  id="exampleInputFile">

            <p class="help-block">Example block-level help text here.</p>
          </div>
        </div>

      </form>
    </div>
    <div class="tab-pane" id="network">Network</div>
    <div class="tab-pane" id="advance">Advance</div>
  </div>
 

  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="button" class="btn btn-primary">Save</button>
  </div>
</div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!-- Add new blood stock modal -->
<div class="modal fade" id="addBloodStockModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Add Blood stock</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" role="form" id="addStockForm">
          <div class="form-group">
            <label for="bloodGroup" class="col-lg-3 control-label">Blood Group</label>
            <div class="col-lg-8">
              <select class="form-control"  id="bloodType" name="bloodType" >
                <option>O-</option>
                <option>O+</option>
                <option>A-</option>
                <option>A+</option>
                <option>B-</option>
                <option>B+</option>
                <option>AB-</option>
                <option>AB+</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="quantity" class="col-lg-3 control-label">Quantity</label>
            <div class="col-lg-8">
              <input type="text" class="form-control" data-provide="typeahead" id="bQuantity" name="bQuantity">
            </div>
          </div>
          <div class="form-group">
            <label for="expdate" class="col-lg-3 control-label">Exp Date</label>
            <div class="col-lg-8">
             <!--  <div class="input-append date" id="dp3" data-date="12-02-2012" data-date-format="dd-mm-yyyy">
              <input class="span2" id="expdate" size="16" type="text" value="12-02-2012">
              <span class="add-on"><i class="icon-th"></i></span>
            </div> -->
             <input type="text" class="form-control" data-date="12-02-2012" data-date-format="dd-mm-yyyy" id="expdate" name="expdate">
             

             </div>
         </div>
         
         <div class="form-group">
          <label for="remark" class="col-lg-3 control-label">Remark</label>
          <div class="col-lg-8">
            <textarea class="form-control" name="remark" id="remark" rows="6" placeholder="Enter Remark"></textarea>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      <button type="button" class="btn btn-primary" onClick="addBloodStock()">Add</button>
    </div>
  </div>
</div>
</div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="dist/js/jquery.js"></script>
    <script src="dist/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="dist/js/jquery.dataTables.min.js"> </script>
    <script type="text/javascript" src="dist/js/dataTables.bootstrap.js"> </script>
    <script type="text/javascript" src="dist/datepicker/js/bootstrap-datepicker.js"> </script>
    <script type="text/javascript" src="dist/js/dataTables.bootstrapPagination.js"> </script>
    <script >
      $(function(){
             $('#expdate').datepicker();

      });
    </script>
   
     <script src="js/home.js"></script>  
    <script type="text/javascript">
    var bloodStockTable=  null;
     var hospitalListTable= null;
     var searchResultTable= null;
    $(document).ready(function() {
   
    bloodStockTable=  $('#bloodStockTable').DataTable( {
        "sDom": "<'row'<'col-xs-6'T><'col-xs-6'f>r>t<'row'<'col-xs-6'i><'col-xs-6'p>>",
         "ajax": "/hospitalstock",
        "columns": [
            { "data": "group" },
            { "data": "reserve" },
             { "data": "quentity" },
            { "data": "exp" },
            { "data": "remark" },
            { "data": "option" }
        ]
      } );
 


        hospitalListTable= $('#hospitalListTable').DataTable( {
        "sDom": "<'row'<'col-xs-6'T><'col-xs-6'f>r>t<'row'<'col-xs-6'i><'col-xs-6'p>>",
         "ajax": "/hospital",
        "columns": [
            { "data": "name" },
            { "data": "loc" },
             { "data": "avail" },
            { "data": "exp" },
            { "data": "dtls" },
            { "data": "del" }
        ]
        
      } );

        searchResultTable = $('#searchResultTable').DataTable( {
          "sDom": "<'row'<'col-xs-6'T><'col-xs-6'>r>t<'row'<'col-xs-6'i><'col-xs-6'p>>",
         "ajax": "/liststock",
        "columns": [
            { "data": "group" },
            { "data": "hospital" },
             { "data": "avail" },
              { "data": "remark" },
            { "data": "exp" },
            { "data": "option" }
        ]
        
      } );

          $( '#bGroupSerchTxt' ).on( 'keyup change', function () {
            searchResultTable
                .column( 0 )
                .search( this.value )
                .draw();
        } );
        $( '#neededQuantitySerchTxt' ).on( 'keyup change', function () {
            searchResultTable
                .column( 2 )
                .search( this.value )
                .draw();
        } );



          requestTable = $('#requestTable').DataTable( {
          "sDom": "<'row'<'col-xs-6'T><'col-xs-6'>r>t<'row'<'col-xs-6'i><'col-xs-6'p>>",
         "ajax": "/listrequests",
        "columns": [
            { "data": "hospital" },
            { "data": "group" },
             { "data": "quntty" },
      /*       { "data": "avail" },*/
              { "data": "comment" },
         /*   { "data": "exp" },*/
            { "data": "option" }
        ]
        
      } );


$(document).on("click", ".blood-req", function (e) {
   //  var id = e.currentTarget.id;
   //  alert(JSON.stringify(this));
     ////   var aPos = searchResultTable.fnGetPosition( this );
     var row =$(this).parent().parent().find('td');
     var hosp = $(row[1]).html();  
     var bGrpup = $(row[0]).html();  
      var avaQn = $(row[2]).html();  
       // alert(JSON.stringify($(row[1]).html()));
     var stockId = $(this).data('id');

     $("#stockRequestForm #bloodType").val( bGrpup );
     $("#stockRequestForm #reqHospital").val( hosp );
      $("#stockRequestForm #bloodAvailbity").val( avaQn );
       $("#stockRequestForm #stockId").val( stockId );

   //  alert(hosp+'  '+bGrpup);
     //  $(".modal-body #bookId").val( bGrpup );
     //alert(stockId);
    // $(".modal-body #bookId").val( myBookId );
     // As pointed out in comments, 
     // it is superfluous to have to manually call the modal.
     // $('#addBookDialog').modal('show');
});

 $('#searchResultTable tbody').on( 'click', 'tr', function () {
       //alert(this);
    } );
 
   

    $('#profileSettingTabs a[href="#general"]').tab('show');

    //loadHospitals();

    } );
    </script>
  </body>
  </html>
