
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="assets/ico/favicon.png">
   
    <title>Blood Inventry system</title>

    <!-- Bootstrap core CSS -->
    <link href="dist/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/starter-template.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
       <style type="text/css">

    </style>
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
              <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Blood Bank</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
            <ul class="nav navbar-nav navbar-right">

            
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">


 
    <div class="col-xs-12 col-sm-8"></div>

      <div class="col-xs-6 col-sm-4">
        <br/>
        <br/>
        <br/>
    <div class="row">
        <div class="well well-sm">
          <form class="form-horizontal" action="/home" method="post">
          <fieldset>
            <legend class="text-center">Sign In</legend>
    
            <!-- Name input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="username">User Name</label>
              <div class="col-md-8">
                <input id="username" name="username" type="text" placeholder="User Name" class="form-control">
              </div>
            </div>
    
            <!-- Email input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="password">Password</label>
              <div class="col-md-8">
                <input id="password" name="password" type="password" placeholder="Password" class="form-control">
              </div>
            </div>
    
            <!-- Form actions -->
            <div class="form-group">
              <div class="col-md-12 text-right">
                <button type="submit" class="btn btn-primary btn-lg">Login</button>
              </div>
            </div>
          </fieldset>
          </form>
        </div>
      </div>
  </div>

    

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
        <script src="assets/js/jquery.js"></script>
   <script src="dist/js/bootstrap.min.js"></script>

    <script src="offcanvas.js"></script>

   
  </body>
</html>
